body {
  font-family: "Poppins", sans-serif;
}
h3 {
  color: #4a4a4a;
}
p,
.nav-link {
  color: #777777;
}
img {
  object-fit: cover;
}
.carousel-img {
  filter: brightness(45%);
}
#explore {
  background-color: #f4fafd;
}
.footer p {
  color: #e8e8e8;
}
