body {
  font-family: "Poppins", sans-serif;
}
p,
.nav-link {
  color: #777777;
}
img {
  object-fit: cover;
}
.carousel-img {
  filter: brightness(45%);
}
#explore {
  background-color: #f4fafd;
}
.footer p {
  color: #e8e8e8;
}

.prev {
  left: -53px;
}
.next {
  right: -53px;
}
section {
  overflow: hidden;
}

/* responsive start*/

@media (max-width: 767px) {
  .banner-content {
    width: 90%;
  }
  .banner-content p {
    font-size: 12px;
  }
  .carousel-img {
    height: 50vh;
  }
  .explore-content p {
    text-overflow: ellipsis;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .explore-content p {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .rating p {
    font-size: 14px;
  }
}
